# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# MLflow
mlruns/


# Models
models/
*.pkl
*.joblib

# Data (tracked by DVC)
/data/raw
/data/processed
/data/*.csv
data/reports/*.html
data/reports/eda_data*.json
data/reports/data_metrics.json
data/reports/preprocessing_metrics.json
data/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Kaggle credentials
kaggle.json
.kaggle/

# Logs
logs/
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Frontend - Enlaces simbólicos a datos reales
front/public/data
front/public/mlruns
front/public/models

dvc.lock
*.dvc.lock
*.dvcignore
.dvcignore