# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/

# MLflow
mlruns/
mlartifacts/

# Models
models/
*.pkl
*.joblib

# Data (tracked by DVC)
/data/raw
/data/processed
/data/*.csv
data/reports/*.html
data/reports/eda_data*.json
data/reports/data_metrics.json
data/reports/preprocessing_metrics.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env

# Kaggle credentials
kaggle.json
.kaggle/

# Logs
logs/
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/
